@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$red: #eb4d4b;
$black: #130f40;
$light-color: #666;
$light-bg: #f9f9f9;
$border: 0.1rem solid rgba(0, 0, 0, 0.3);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
  gap: 1.5rem;
}

%text-stroke {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem $black;
  &:hover {
    -webkit-text-stroke: 0.1rem $red;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 5rem;
  }
}
section {
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: $black;
  padding-bottom: 2rem;
  text-align: center;
  span {
    color: $red;
  }
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  color: #fff;
  background-color: $red;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  &:hover {
    background-color: $black;
    transition: 0.3s all linear;
  }
}
// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  background-color: #fff;
  box-shadow: $box-shadow;
  padding: 2rem 9%;
  .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: $black;

    i {
      color: $red;
      padding-right: 0.5rem;
    }
  }

  .navbar {
    a {
      font-size: 1.7rem;
      margin: 0 1rem;
      color: $light-color;
      &:hover {
        color: $red;
      }
    }
  }
  .icons div,
  .icons a {
    font-size: 2.5rem;
    margin-left: 2rem;
    @extend %text-stroke;
  }
  .fa-shopping-cart
  {
    position: relative;
    .total
    {
      position: absolute;
      bottom:  1.5rem;
      color: $red !important;
    }
  }
  .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    border: $border;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    &.active {
      right: 2rem;
      transition: 0.4s linear;
    }
    input {
      height: 100%;
      width: 100%;
      text-transform: none;
      font-size: 1.6rem;
      color: $black;
      padding: 0 1.2rem;
    }
    label {
      font-size: 2.2rem;
      @extend %text-stroke;
      margin-right: 1.7rem;
    }
  }
}

#menu-btn {
  display: none;
}

// home

.home {
  padding: 0;
  padding-top: 7.6rem;

  .home-slider {
    .slide {
      height: 65vh;
      display: flex;
      align-items: center;
      padding: 2rem;
      padding-left: 7%;
      background-size: cover !important;
      background-position: center !important;
      .contact {
        span {
          font-size: 2rem;
          color: $light-color;
        }
        h3 {
          font-size: 5rem;
          color: $black;
          padding-top: 0.5rem;
        }
        span {
          font-size: 2rem;
          color: $light-color;
        }
      }
    }
  }
  .swiper-button-next {
    top: 90%;
    right: 2rem;
  }
  .swiper-button-prev {
    top: 90%;
    right: 8rem;
    left: auto;
  }
}
.swiper-button-next,
.swiper-button-prev {
  border: $border;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: $box-shadow;
  color: $black;

  &:hover {
    background-color: $black;
    color: #fff;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

// banner
.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .banner {
    flex: 1 1 42rem;
    overflow: hidden;
    height: 30rem;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover img {
      transform: scale(1.2);
    }
    .content {
      position: absolute;
      top: 50%;
      right: 5rem;
      transform: translateY(-50%);
      span {
        font-size: 2rem;
        color: $light-color;
      }
      h3 {
        font-size: 3.2rem;
        color: $black;
        padding-top: 0.5rem;
      }
    }
  }
}
// products
@keyframes fadeup {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
// products
.products {
  .filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2.5rem;
    .buttons {
      font-size: 1.7rem;
      cursor: pointer;
      color: $light-color;
      &:hover,
      &.active {
        color: $red;
      }
    }
  }

  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    .box {
      width: 26rem;
      border-radius: 0.5rem;
      border: $border;
      box-shadow: $box-shadow;
      overflow: hidden;
      position: relative;
      &.hide {
        display: none;
      }
      &.active {
        animation: fadeup all 0.4s linear;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 35rem;
        top: 0;
        right: 0;
        gap: 0.5rem;
        z-index: 1;
        position: absolute;
        transform: scale(0);
        transition: all 0.5s linear;
        a {
          font-size: 2rem;
          height: 5rem;
          width: 5rem;
          text-align: center;
          line-height: 5rem;
          background-color: #fff;
          border-radius: 0.5rem;
          @extend %text-stroke;
        }
      }
      &:hover .icons {
        transform: scale(1);
      }
      .image {
        width: 100%;
        height: 35rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: linear all 0.3s;
        }
      }
      &:hover .image img {
        transform: scale(1.1);
      }

      .content {
        padding: 1rem 1.5rem;
        h3 {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
        }
        .price {
          padding: 0.5rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          .amount {
            font-size: 2.2rem;
            font-weight: bolder;
            color: $black;
          }
          .cut {
            font-size: 1.5rem;
            text-decoration: line-through;
            color: $light-color;
          }
          .offer {
            font-size: 2rem;

            color: $red;
          }
        }
        .stars {
          font-size: 1.7rem;
          i {
            color: gold;
          }
          span {
            color: $light-color;
          }
        }
        button 

        {
          display: inline-block;
          margin-top: 1.3rem;
          padding: 0.8rem 1rem;
          color: #fff;
          background-color: $red;
          cursor: pointer;
          border-radius: 0.5rem;
          font-size: 1.7rem;
          &:hover {
            background-color: $black;
            transition: 0.3s all linear;
          }

        }
      }
    }
  }
}
// deal
.deal {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  background: linear-gradient(#fff 20%, $light-bg 20.1%);
  .image {
    flex: 1 1 42rem;
    img {
      width: 40rem;
    }
  }
  .content {
    flex: 1 1 42rem;
    span {
      color: $red;
      font-size: 1.7rem;
    }
    h3 {
      color: $black;
      font-size: 3rem;
      padding: 0.5rem 0;
    }
    p {
      color: $light-color;
      font-size: 2rem;
    }
  }
}
// feataured
.feataured {
  .featuref-slide {
    .slide {
      width: 26rem;
      border-radius: 0.5rem;
      border: $border;
      box-shadow: $box-shadow;
      overflow: hidden;
      position: relative;

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 35rem;
        top: 0;
        right: 0;
        gap: 0.5rem;
        z-index: 1;
        position: absolute;
        transform: scale(0);
        transition: all 0.5s linear;
        a {
          font-size: 2rem;
          height: 5rem;
          width: 5rem;
          text-align: center;
          line-height: 5rem;
          background-color: #fff;
          border-radius: 0.5rem;
          @extend %text-stroke;
        }
      }
      &:hover .icons {
        transform: scale(1);
      }
      .image {
        width: 100%;
        height: 35rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: linear all 0.3s;
        }
      }
      &:hover .image img {
        transform: scale(1.1);
      }

      .content {
        padding: 1rem 1.5rem;
        h3 {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
        }
        .price {
          padding: 0.5rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          .amount {
            font-size: 2.2rem;
            font-weight: bolder;
            color: $black;
          }
          .cut {
            font-size: 1.5rem;
            text-decoration: line-through;
            color: $light-color;
          }
          .offer {
            font-size: 2rem;

            color: $red;
          }
        }
        .stars {
          font-size: 1.7rem;
          i {
            color: gold;
          }
          span {
            color: $light-color;
          }
        }
      }
    }
  }
}

// review
.review {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $light-bg;
  .slide {
    border-radius: 0.5rem;
    background: #fff;
    border: $border;
    padding: 2rem;
    text-align: center;
    box-shadow: $box-shadow;
    P {
      font-size: 1.4rem;
      color: $light-color;
      line-height: 2;
    }
    .user {
      padding-top: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      img {
        height: 7rem;
        width: 7rem;
        object-fit: cover;
        border-radius: 50%;
      }
      h3 {
        font-size: 2.2rem;
        color: $black;
      }
      span {
        font-size: 1.5rem;
        color: $red;
      }
    }
  }
}
// contact

.contact {
  .icons-container {
    @include grid(25rem);
    .icons {
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      border: $border;
      text-align: center;
      i {
        font-size: 2.5rem;
        height: 6rem;
        width: 6rem;
        line-height: 6rem;
        border: $border;
        @extend %text-stroke;
        border-radius: 50%;
      }
      h3 {
        font-size: 2.2rem;
        padding: 1rem 0;
        color: $black;
      }
      p {
        font-size: 1.5rem;
        line-height: 2;
        color: $light-color;
      }
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    form {
      flex: 1 1 42rem;
      padding: 2rem;
      border: $border;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      h3 {
        font-size: 3rem;
        padding-top: 1rem;
        color: $black;
      }
      .inputBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          width: 49%;
        }
      }
      .inputBox input,
      textarea {
        border: $border;
        border-radius: 0.5rem;
        padding: 1rem 1.2rem;
        font-size: 1.6rem;
        color: $black;
        text-transform: none;
        margin: 0.7rem 0;
      }
      textarea {
        width: 100%;
        height: 15rem;
        resize: none;
      }
    }
    .map {
      width: 100%;
      flex: 1 1 42rem;
      padding: 0.5rem;
      border: $border;
      box-shadow: $box-shadow;
    }
  }
}
// blogs
.blogs {
  .slide {
    border: $border;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    width: 35rem;
    overflow: hidden;
    .image {
      width: 100%;
      height: 25rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }
    }
    &:hover .image img {
      transform: scale(1.2);
    }
    .content {
      padding: 2rem;
      h3 {
        font-size: 2.2rem;
        color: $black;
      }
      p {
        font-size: 1.4rem;
        color: $light-color;
        line-height: 2;
        padding: 1rem 0;
      }
      .icons {
        margin-top: 2.5rem;
        padding-top: 2rem;
        border-top: $border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-size: 1.4rem;
          color: $light-color;
          i {
            padding-right: 0.5rem;
            color: $red;
          }
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

// footer
.footer {
  background: $light-bg;

  .box-container {
    @include grid(25rem);

    .box {
      h3 {
        font-size: 2.2rem;
        color: $black;
        padding: 1rem 0;
      }

      p {
        font-size: 1.5rem;
        color: $light-color;
        padding: 1rem 0;
        line-height: 2;
      }

      a {
        display: block;
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;

        i {
          padding-right: 0.5rem;
          color: $red;
        }

        &:hover {
          color: $red;
        }

        &:hover i {
          padding-right: 2rem;
        }
      }
    }
  }

  .share {
    padding-top: 2rem;
    text-align: center;

    a {
      font-size: 2rem;
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      border-radius: 50%;
      background: $black;
      color: #fff;
      margin: 0.3rem;

      &:hover {
        background: $red;
        transform: rotate(360deg);
      }
    }
  }

  .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: $border;
    text-align: center;
    color: $light-color;
    font-size: 2rem;

    span {
      color: $red;
    }
  }
}

/* Cart */
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.cart__overlay.show {
  visibility: visible;
}

.close__cart {
  cursor: pointer;
  font-size: 2.2rem;
}

.close__cart i {
  color: $black;
  transition: all 300ms ease-in-out;
}

.close__cart:hover i {
  color: $red;
}

.cart h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.cart__item span i {
  font-size: 2.2rem;
  color: $red;
}

.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 50%;
  margin: 2rem auto;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__item div span {
  cursor: pointer;
}

.cart__item img {
  height: 10rem;
  padding-right: 10px;
}

.cart__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.9rem;
  text-align: center;
}

.cart__item .price {
  color: $red;
  font-weight: 700;
}

.cart__item p {
  font-weight: 700;
  font-size: 2rem;
}

.cart__item .remove__item {
  cursor: pointer;
}

.cart__item .remove__item i {
  color: #222;
}
.cart__item .remove__item i:hover {
  color: var(--main-color);
}
@media only screen and (max-width: 1350px) {
  .cart__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .cart__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .cart__item h3 {
    font-size: 1.7rem;
  }

  .cart__item img {
    height: 7rem;
  }
}

.cart__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.cart__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart__footer .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: $red;
  border: none;
  margin-top: 2rem;
}

.cart__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 567px) {
  .cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
    top: 62%;
  }

  .cart__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}

// media queries
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: $border;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    a {
      display: block;
      margin: 2rem;
      font-size: 2rem;
    }
  }
  .header .search-form {
    width: 100%;
    border-radius: 0;
    top: 100%;
    &.active {
      right: 0;
    }
  }
  .home .home-slider .slide {
    padding-left: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .banner-container .banner .content {
    right: 2rem;
    h3 {
      font-size: 2rem;
    }
  }
  .heading {
    font-size: 3rem;
  }
  .products .filter-buttons {
    gap: 1rem;
  }
  .products .box-container .box {
    width: 100%;
  }
  .deal .image img {
    width: 100%;
  }
  .deal .content {
    padding-top: 2rem;
    text-align: center;
  }
  .feataured .swiper-button-next,
  .feataured .swiper-button-prev {
    display: none;
  }

  .contact .row .inputBox input {
    width: 100%;
  }
  .blogs .swiper-button-next,
  .blogs .swiper-button-prev {
    display: none;
  }
}
